{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/clientrest/css/semantic.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/clientrest/js/jquery-2.1.4.min.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="ui text container">

        {% block form %}{% endblock %}

    </div>

{% endblock %}