{% extends "ClientRestBundle:Forms:base.html.twig" %}

{% block title %}Edit Experiment{% endblock %}

{% block form %}

    <div id="form-edit-experiments" class="form-container">
        <form class="ui form" action="{{ path('put_experiment', {id: form.vars.value.id}) }}">
            {{ form_widget(form) }}
            <input class="ui button" type="submit"/>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var $form = $('#form-edit-experiments').find('form');
            $form.submit(function() {
                $.ajax($form.attr('action'), {
                    method: 'put',
                    data: $form.serialize()
                });
                return false;
            });
        });
    </script>
{% endblock %}