{% extends "::base.html.twig" %}

{% block title %}REST API Test Page{% endblock %}

{% block body %}

    <div id="forms">
        <div id="form-post-experiment" class="form-container">
            <form class="ui form" action="{{ path('post_experiments') }}" method="post">
                {{ form_widget(forms.experiment) }}
            </form>
        </div>
    </div>

{% endblock %}