{% extends "ClientRestBundle:Forms:base.html.twig" %}

{% block title %}Create New Variant{% endblock %}

{% block form %}

    <div id="form-new-variants" class="form-container">
        <form class="ui form" action="{{ path('post_experiments_variant', {experiment_id: experiment_id}) }}" method="post">
            {{ form_widget(form) }}
            <input type="submit"/>
        </form>
    </div>

{% endblock %}