{% extends "ClientRestBundle:Forms:base.html.twig" %}

{% block title %}Create New Experiment{% endblock %}

{% block form %}

    <div id="form-experiments-new" class="form-container">
        <form class="ui form" action="{{ path('post_experiments') }}" method="post">
            {{ form_widget(form) }}
            <input type="submit"/>
        </form>
    </div>

{% endblock %}