<html>
<!--[if lt IE 7]>
<html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js sidebar-large"> <!--<![endif]-->

<head>

    <base href="/-/apps-static/ui/">

    <!-- Page meta -->
    <meta charset="utf-8">
    <title>{% block title %}StrongOptimizer UI{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="StrongOptimize Client UI" name="description"/>
    <link rel="shortcut icon" href="/-/apps-static/ui/img/favicon.png">

    <!-- Page styles -->
    <link rel="stylesheet" href="/-/apps-static/ui/css/icons/icons.min.css">
    <link rel="stylesheet" href="/-/apps-static/ui/css/bootstrap.min.css">
    <link rel="stylesheet" href="/-/apps-static/ui/css/plugins.css">
    <link rel="stylesheet" href="/-/apps-static/ui/plugins/bootstrap-loading/dist/ladda.css">
    <link rel="stylesheet" href="/-/apps-static/ui/css/style.min.css">
    <link rel="stylesheet" href="/-/apps-static/ui/css/colors/color-dark.css"/>
    <link rel="stylesheet" href="/-/apps-static/ui/plugins/modal/css/component.css"/>
    <link rel="stylesheet" href="/-/apps-static/ui/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/-/apps-static/ui/css/common.css"/>


    <!-- System libraries -->
    <script src="/-/apps-static/ui/js/lib/es6-shim.min.js"></script>
    <script src="/-/apps-static/ui/js/lib/system-polyfills.js"></script>
    <script src="/-/apps-static/ui/js/lib/system.src.js"></script>
    <script src="/-/apps-static/ui/js/lib/Rx.js"></script>

    <!-- jQuery -->
    <script src="/-/apps-static/ui/js/lib/jquery.min.js"></script>

    <!-- Angular libraries -->
    <script src="/-/apps-static/ui/js/lib/angular2-polyfills.js"></script>
    <script src="/-/apps-static/ui/js/lib/angular2.dev.js"></script>
    <script src="/-/apps-static/ui/js/lib/router.dev.js"></script>
    <script src="/-/apps-static/ui/js/lib/http.dev.js"></script>


    <!-- External libraries -->
    <script src="/-/apps-static/ui/js/lib/q.js"></script>
    <script src="/-/apps-static/ui/js/lib/breeze.min.js"></script>
    <script src="/-/apps-static/ui/js/lib/lodash.min.js"></script>
    <script src="/-/apps-static/ui/js/lib/angular.min.js"></script>
    <script src="/-/apps-static/ui/js/lib/restangular.js"></script>
    <script src="/-/apps-static/ui/js/lib/object-observe-lite.js"></script>

    <!-- Global config -->
    <script>
        window.CONFIG_EXT = {};
    </script>

    <!-- Configure SystemJS -->
    <script>
        System.config({
            map: {
                app: '/-/apps-static/ui/js/app',
                sprintf: '/-/apps-static/ui/js/lib/sprintf.min.js',
                q: '/-/apps-static/ui/js/lib/q.js'
            },
            packages: {
                'app': {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('app/boot')
                .then(null, console.error.bind(console));
    </script>

</head>

<body ng-app="soApp" ng-controller="mainCtrl">

<!-- Display the application -->
<so-app>Loading...</so-app>

<!-- Legacy initialization -->
<script>
    angular.module('soApp', []).controller('mainCtrl', function ($http) {
        window['legacyProviders'] = {
            http: $http
        };
    });
</script>

<!-- Bootstrap plugins -->
<script src="/-/apps-static/ui/plugins/bootstrap/bootstrap.min.js"></script>
<script src="/-/apps-static/ui/plugins/mandatoryJs.min.js"></script>
<script src="/-/apps-static/ui/plugins/bootstrap-loading/dist/spin.js"></script>
<script src="/-/apps-static/ui/plugins/bootstrap-loading/dist/ladda.js"></script>

</body>

</html>
