<!DOCTYPE html>
<html>
<!--[if lt IE 7]>
<html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js sidebar-large"> <!--<![endif]-->
<head>

    <base href="/-/apps-static/ui/">

    <!-- Page meta -->
    <meta charset="utf-8">
    <title>{% block title %}StrongOptimizer UI{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="StrongOptimize Client UI" name="description"/>
    <link rel="shortcut icon" href="/-/apps-static/ui/img/favicon.png">

    <!-- Page styles -->
    <link rel="stylesheet" href="/-/apps-static/ui/css/icons/icons.min.css">
    <link rel="stylesheet" href="/-/apps-static/ui/css/bootstrap.min.css">
    <link rel="stylesheet" href="/-/apps-static/ui/css/plugins.css">
    <link rel="stylesheet" href="/-/apps-static/ui/plugins/bootstrap-loading/dist/ladda.css">
    <link rel="stylesheet" href="/-/apps-static/ui/css/style.min.css">
    <link rel="stylesheet" href="/-/apps-static/ui/css/colors/color-dark.css"/>
    <link rel="stylesheet" href="/-/apps-static/ui/plugins/modal/css/component.css"/>
    <link rel="stylesheet" href="/-/apps-static/ui/css/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/-/apps-static/ui/css/common.css"/>

    <!-- Event tracker -->
    <script src="{{ asset('-/static/js/tracker.js') }}"></script>

    <!-- Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src="{{ asset('-/apps-static/ui/js/lib/es6-shim.min.js') }}"></script>
    <script src="{{ asset('-/apps-static/ui/js/lib/system-polyfills.js') }}"></script>
    <script src="{{ asset('-/apps-static/ui/js/lib/shims_for_IE.js') }}"></script>

    <script src="{{ asset('-/apps-static/ui/js/lib/angular2-polyfills.js') }}"></script>
    <script src="{{ asset('-/apps-static/ui/js/lib/system.src.js') }}"></script>
    <script src="{{ asset('-/apps-static/ui/js/lib/Rx.js') }}"></script>
    <script src="{{ asset('-/apps-static/ui/js/lib/angular2.dev.js') }}"></script>
    <script src="{{ asset('-/apps-static/ui/js/lib/router.dev.js') }}"></script>
    <script src="{{ asset('-/apps-static/ui/js/lib/http.dev.js') }}"></script>

    <!-- Support libraries -->
    <script src="/-/apps-static/ui/js/lib/q.js"></script>
    <script src="/-/apps-static/ui/js/lib/lodash.min.js"></script>
    <script src="/-/apps-static/ui/js/lib/jquery.min.js"></script>
    <script src="/-/apps-static/ui/js/lib/sprintf.min.js"></script>
    <script src="/-/apps-static/ui/js/lib/angular.min.js"></script>
    <script src="/-/apps-static/ui/js/lib/restangular.js"></script>

    <!-- Bootstrap plugins -->
    <script src="/-/apps-static/ui/js/lib/bootstrap.min.js"></script>
    <script src="/-/apps-static/ui/plugins/mandatoryJs.min.js"></script>
    <script src="/-/apps-static/ui/js/lib/spin.min.js"></script>
    <script src="/-/apps-static/ui/js/lib/ladda.min.js"></script>

    <!-- App config -->
    <script src="{{ asset('-/apps-static/ui/js/app.config.js') }}"></script>

    <!-- App bundle -->
    {#{% if (app.environment == 'dev') %}
    <script src="{{ asset('-/apps-static/ui/js/bundle.js') }}"></script>
    {% else %}
    <script src="{{ asset('-/apps-static/ui/js/bundle.min.js') }}"></script>
    {% endif %}#}
    <script src="{{ asset('-/apps-static/ui/js/bundle.js') }}"></script>

    <!-- Legacy initialization -->
    <script>
        angular.module('soApp', []).controller('mainCtrl', function ($http) {
            window['legacyProviders'] = {
                http: $http
            };
        });
    </script>

    <!-- Configure SystemJS -->
    <script>
        System.import('app/boot')
                .then(null, console.error.bind(console));
    </script>

</head>
<body ng-app="soApp" ng-controller="mainCtrl">
<so-app>loading...</so-app>
</body>
</html>
