<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"> <!--<![endif]-->

<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="{{ asset('bundles/clientui/img/favicon.png') }}">
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="{{ asset('bundles/clientui/css/icons/icons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/clientui/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/clientui/css/plugins.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/clientui/plugins/bootstrap-loading/lada.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/clientui/css/style.min.css') }}" rel="stylesheet">
    <link href="#" rel="stylesheet" id="theme-color">
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    {% block pagestyle %}{% endblock %}
    <!-- END PAGE LEVEL STYLE -->
    <script src="{{ asset('bundles/clientui/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
</head>

{% block body %}
{% endblock %}

</html>
