<style>
  table.empty thead th {
  }

  table.empty thead th > span {
    opacity: 0.25;
  }

  th.views {
    text-align: right;
    padding-right: 25px;
  }

  div.no-experiments {
    position: relative;
    padding-left: 24px;
  }

  div.no-experiments span.warning-sign {
    display: none;
    position: absolute;
    top: 6px;
    left: -10px;
    color: #0090d9;
  }

  tfoot td {
    padding-top: 40px;
  }

  tfoot p {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 50px;
  }

  tfoot p span.info-sign {
    top: 6px;
    left: -10px;
    color: #0090d9;
  }
</style>
<div class="component-root dashboard-ab-stats">
  <table class="table table-striped table-hover" [ngClass]="{ empty: !experiments.length }">
    <thead class="no-bd">
    <tr>
      <th width="25px"></th>
      <th><span>Experiment</span></th>
      <th width="100px" class="views">
        <span [uiPopover]="'dashboard.ab_experiments_table.th.views'" [popoverPlacement]="'bottom'">Views</span>
      </th>
      <th width="100px">
        <span [uiPopover]="'dashboard.ab_experiments_table.th.goals'" [popoverPlacement]="'bottom'">Goals</span>
      </th>
      <th width="130px">
        <span [uiPopover]="'dashboard.ab_experiments_table.th.conversion'" [popoverPlacement]="'bottom'">Conversion</span>
      </th>
      <th width="130px">
        <span [uiPopover]="'dashboard.ab_experiments_table.th.significance'" [popoverPlacement]="'bottom'">Significance</span>
      </th>
      <th width="100px"><span>Started</span></th>
    </tr>
    </thead>
    <tbody>
    <template *ngIf="experiments.active.length" ngFor #experiment [ngForOf]="experiments.active" #i="index">
      <tr dashboardAbStatsRow [experiment]="experiment" (init)="registerRow($event, i)"
          (ready)="showBreakdown($event, i)"></tr>
      <tr dashboardAbStatsBreakdown [experiment]="experiment" (init)="registerBreakdown($event, i)"></tr>
    </template>
    <tr *ngIf="experiments.ready && !experiments.active.length">
      <td colspan="7">
        <div class="no-experiments">
          <span class="warning-sign glyphicon glyphicon-warning-sign"></span>
          <h4>You don't have active experiments yet</h4>
          <p>You can create and run experiments on the <a [routerLink]="['AbExperimentsList']">experiments page</a>
          </p>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot *ngIf="experiments.active.length">
    <tr>
      <td colspan="7">
        <p>
          <span class="info-sign glyphicon glyphicon-info-sign"></span>
          <span>You can create new or edit existing experiments on the</span>
          <a [routerLink]="['AbExperimentsList']">experiments page</a>
        </p>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
