<style>

  .shaded {
    color: rgba(0, 0, 0, 0.5);
  }

  .bold {
    font-weight: bold;
  }

  td.focused {
    background-color: #f5f5f5 !important;
    color: #000 !important;
  }

  td {
    cursor: pointer;
  }

  td.buttons-container {
    padding: 0;
    width: 25px;
  }

  td.buttons-container a {
    position: relative;
    top: 1px;
    padding: 8px 6px;
  }

  td.buttons-container a i {
    font-size: 20px;
  }

  td.title {
  }

  td.title a {
    text-decoration: none;
    cursor: pointer;
  }

  td.views {
  }

  td.views span.hits {
    display: block;
    float: left;
    min-width: 50px;
    text-align: right;
    padding-right: 5px;
  }

  td.goals {
    text-align: right;
    padding-right: 50px;
  }

  td.conversion {
    text-align: right;
    padding-right: 55px;
  }

  td.significance {
    text-align: right;
    padding-right: 55px;
  }
</style>
<td class="buttons-container" [ngClass]="{ focused: breakdown?.opened }">
  <a (click)="toggleBreakdown()">
    <i class="fa"
       [ngClass]="{ 'fa-angle-down': !breakdown?.opened, 'fa-angle-up': breakdown?.opened }"></i>
  </a>
</td>
<td class="title" [ngClass]="{ focused: breakdown?.opened }" (click)="toggleBreakdown()">{{ experiment.title }}</td>
<td class="views" [ngClass]="{ shaded: stats.hits == 0, focused: breakdown?.opened }" (click)="toggleBreakdown()">
  <span class="hits" [ngClass]="{ hidden: !ready }">{{ stats.hits }}</span>
  <span class="uxviews" [ngClass]="{ hidden: !ready }">
    (<span [ngClass]="{ bold: stats.uxviews > 0 }">{{ stats.uxviews }}</span>)
  </span>
</td>
<td class="goals" [ngClass]="{ shaded: stats.goals == 0, focused: breakdown?.opened }" (click)="toggleBreakdown()">
  <span [ngClass]="{ hidden: !ready, bold: stats.goals > 0 }">{{ stats.goals }}</span>
</td>
<td class="conversion" [ngClass]="{ shaded: stats.conversion == 0, focused: breakdown?.opened }" (click)="toggleBreakdown()">
  <span [ngClass]="{ hidden: !ready }">{{ stats.conversion }}%</span>
</td>
<td class="significance" [ngClass]="{ focused: breakdown?.opened }" (click)="toggleBreakdown()">
  <span [ngClass]="{ hidden: !ready, shaded: true }">0</span>
</td>
<td class="started" [ngClass]="{ focused: breakdown?.opened }" (click)="toggleBreakdown()">{{ experiment.startedAt | date:'yMd' }}</td>
