<style>
  .shaded {
    color: rgba(0, 0, 0, 0.5);
  }

  .bold {
    font-weight: bold;
  }

  td.wrap {
    padding: 0;
  }

  div.breakdown-wrap {
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #ccc;
  }

  div.breakdown-wrap.closed {
    opacity: 0;
    max-height: 0;
    padding: 0;
    transition: max-height 0.1s ease-out, padding 0.1s ease-in, opacity 0.1s linear;
  }

  div.breakdown-wrap.open {
    opacity: 1;
    max-height: 500px;
    padding: 7px 0;
    transition: max-height 0.2s ease-out, padding 0.1s linear, opacity 0.15s ease-out;
  }

  div.breakdown-wrap .shadow-top {
    height: 21px;
    top: -21px;
    box-shadow: 0 7px 7px -7px #777;
    position: absolute;
    width: 100%;
    background: rgb(0, 0, 0);
  }

  div.breakdown-wrap .shadow-bottom {
    height: 21px;
    box-shadow: 0 -5px 7px -7px #777;
    position: absolute;
    width: 100%;
    background: transparent;
    bottom: -21px;
  }

  table.breakdown {
    width: 100%;
    margin-bottom: 0;
  }

  table.breakdown td {
    padding: 6px 8px;
    cursor: default;
  }

  table.breakdown td.buttons {
    /*width: 30px;*/
  }

  table.breakdown td.buttons.push {
    /*padding-bottom: 35px;*/
  }

  table.breakdown td.title {
    /*width: 176px;*/
  }

  table.breakdown td.views {
    /*width: 100px;*/
  }

  table.breakdown td.views span.hits {
    display: block;
    float: left;
    min-width: 50px;
    text-align: right;
    padding-right: 5px;
  }

  table.breakdown td.goals {
    text-align: right;
    padding-right: 50px;
  }

  table.breakdown td.conversion {
    text-align: right;
    padding-right: 55px;
  }

  table.breakdown td.significance {
    text-align: right;
    padding-right: 55px;
  }
</style>
<td colspan="7" class="wrap">
  <div class="breakdown-wrap" [ngClass]="{ open: opened, closed: !opened }">
    <div class="shadow-top"></div>
    <table class="table table-hover breakdown">
      <tr *ngFor="#entry of stats; #last = last">
        <td class="buttons" width="25px" [ngClass]="{ push: last }">&nbsp;</td>
        <td class="title">{{ entry.title || entry.number }}</td>
        <td class="views" width="100px" [ngClass]="{ shaded: entry.hits == 0 }">
          <span class="hits">{{ entry.hits }}</span>
          <span class="uxviews">(<span [ngClass]="{ bold: entry.uxviews > 0 }">{{ entry.uxviews }}</span>)</span>
        </td>
        <td class="goals" width="100px">
          <span [ngClass]="{ shaded: entry.goals == 0, bold: entry.goals > 0 }">{{ entry.goals }}</span>
        </td>
        <td class="conversion" width="130px">{{ entry.conversion }}%</td>
        <td class="significance" width="130px">0</td>
        <td class="started" width="100px">&nbsp;</td>
      </tr>
    </table>
    <div class="shadow-bottom"></div>
  </div>
</td>
