{% extends "::base.html.twig" %}

{% block title %}CacheNotifyBundle:Experiment:publish{% endblock %}

{% block body %}
<span>publish notification for experiment {{ id }} has been sent</span>
{% endblock %}
