{% extends "ClientUIBundle::base.html.twig" %}

{% block body %}
    <body class="login fade-in" data-page="signup">
    <!-- START SIGNUP BOX -->
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="login-box clearfix animated flipInY">
                    <div class="page-icon animated bounceInDown">
                        <img src="{{ asset('bundles/clientui/img/account/register-icon.png') }}" alt="Register icon"/>
                    </div>
                    <div class="login-logo">
                        <a href="#">
                            <img src="{{ asset('bundles/clientui/img/account/login-logo.png') }}" alt="Company Logo"/>
                        </a>
                    </div>
                    <hr>
                    <div class="login-form">
                        <!-- Start Error box -->
                        <div id="error-box" class="alert alert-danger hide">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h4>Error!</h4>
                            <span class="message"></span>
                        </div>
                        <!-- End Error box -->
                        <form action="{{ path('fos_user_registration_register') }}" method="post">
                            {{ form_widget(form._token) }}
                            <input type="text" name="fos_user_registration_form[username]" placeholder="Name"
                                   class="input-field"/>
                            <input type="email" name="fos_user_registration_form[email]" placeholder="E-mail"
                                   class="input-field" required/>
                            <input type="password" name="fos_user_registration_form[plainPassword][first]"
                                   placeholder="Password" class="input-field" required/>
                            <input type="password" name="fos_user_registration_form[plainPassword][second]"
                                   placeholder="Confirm Password" class="input-field" required/>
                            <button id="submit-form" class="btn btn-login ladda-button" data-style="expand-left"><span
                                        class="ladda-label">{{ 'registration.submit'|trans }}</span></button>
                        </form>
                        <div class="login-links">
                            <a href="#">{{ 'resetting.request.invite'|trans }}</a>
                            <br>
                            <a href="{{ path('fos_user_security_login') }}">{{ 'registration.login.invite'|trans }}
                                <strong>{{ 'registration.login.submit'|trans }}</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SIGNUP BOX -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="{{ asset('bundles/clientui/plugins/jquery-1.11.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/jquery-migrate-1.2.1.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/jquery-ui/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/jquery-mobile/jquery.mobile-1.4.2.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/jquery.cookie.min.js') }}" type="text/javascript"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('bundles/clientui/plugins/backstretch/backstretch.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/bootstrap-loading/lada.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/account.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    </body>
{% endblock %}
