<html>
<!--[if lt IE 7]>
<html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js sidebar-large"> <!--<![endif]-->

<head>

    <base href="/-/apps-static/login/">

    <!-- Page meta -->
    <meta charset="utf-8">
    <title>{% block title %}StrongOptimizer - Log In{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="StrongOptimize Log In Page" name="description"/>
    <link rel="shortcut icon" href="/-/apps-static/ui/img/favicon.png">

    <!-- Page styles -->
    <link rel="stylesheet" href="/-/apps-static/ui/css/icons/icons.min.css">
    <link rel="stylesheet" href="/-/apps-static/ui/css/bootstrap.min.css">
    <link rel="stylesheet" href="/-/apps-static/ui/css/plugins.css">
    <link rel="stylesheet" href="/-/apps-static/ui/plugins/bootstrap-loading/lada.min.css">
    <link rel="stylesheet" href="/-/apps-static/ui/css/style.min.css">
    <link rel="stylesheet" href="/-/apps-static/ui/css/colors/color-dark.css"/>
    <link rel="stylesheet" href="/-/apps-static/ui/plugins/modal/css/component.css"/>
    <link rel="stylesheet" href="/-/apps-static/ui/css/jquery-ui.min.css"/>


    <!-- Load libraries -->
    <script src="/-/apps-static/login/js/lib/es6-shim.min.js"></script>
    <script src="/-/apps-static/login/js/lib/system-polyfills.js"></script>
    <script src="/-/apps-static/login/js/lib/system.src.js"></script>
    <script src="/-/apps-static/login/js/lib/Rx.js"></script>
    <script src="/-/apps-static/login/js/lib/jquery.min.js"></script>

    <!-- Angular libraries -->
    <script src="/-/apps-static/login/js/lib/angular2-polyfills.js"></script>
    <script src="/-/apps-static/login/js/lib/angular2.dev.js"></script>
    <script src="/-/apps-static/login/js/lib/router.dev.js"></script>
    <script src="/-/apps-static/login/js/lib/http.dev.js"></script>

    <!-- Configure SystemJS -->
    <script>
        System.config({
            map: {
                app: '/-/apps-static/login/js/app'
            },
            packages: {
                'app': {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('app/boot')
                .then(null, console.error.bind(console));
    </script>

    <!-- Global config -->
    <script>
        var CONFIG_EXT = {
            app: {
                csrf_token: '{{ csrf_token }}',
                request_path: '{{ request_path }}'
            }
        };
    </script>

</head>

<body>

<!-- Display the application -->
<login-app>Loading...</login-app>



</body>

</html>
