<style>
  td {
    /*background-color: inherit;*/
    /*transition: background-color 0.2s ease;*/
  }

  td.running {
    /*background-color: lightgreen !important;*/
    /*transition: background-color 0.2s ease;*/
  }

  td .buttons-container a.running-status {
    top: 12px;
    left: 25px;
  }

  td .buttons-container a.running-status i {
    display: inline-block;
    /*top: 12px;*/
    /*position: relative;*/
    /*float: right;*/
    /*right: 28px;*/
    color: darkred;
    opacity: 0.8;
    transition: color 0.1s linear;
    font-size: 14px;
  }

  td.running .buttons-container a.running-status i {
    color: green;
  }
</style>
<td style="padding: 0; width: 70px" (click)="onDetails()" [ngClass]="{ running: experiment.state == 2 }">
  <div class="buttons-container">
    <a *ngIf="experiment.state > 1" class="running-status" style="cursor: default"
       [ngClass]="{ disabled: false && (disabled || (experiment.state == 3 && !valid)) }">
      <i class="fa fa-dot-circle-o"
         [uiPopover]="runningPopover"
         [popoverFn]="runningPopoverFn"
         (popoverInit)="onPopoverInit($event)"
         [popoverPlacement]="'right'"></i>
    </a>
  </div>
</td>
<td (click)="onDetails()" [ngClass]="{ running: experiment.state == 2 }">
  <input [edit-inline]
         [(ngModel)]="experiment.title"
         (change)="update()"
         (enter)="save()"
         (escape)="blur()"
         [placeholder]="'Experiment Title'"/>
</td>
<td style="width: 100px" (click)="onDetails()" [ngClass]="{ running: experiment.state == 2 }">
  {{ experiment.variations.length }}
</td>
<td style="width: 100px" (click)="onDetails()" [ngClass]="{ running: experiment.state == 2 }">
  {{ experiment.goals.length }}
</td>
<td *ngIf="experiment.state > 1" class="started" [ngClass]="{ running: experiment.state == 2 }" (click)="onDetails()">
  {{ experiment.startedAt | date:'yMd' }}
</td>
