<style>
  .main-content {
    padding: 0;
  }
</style>
<div class="component-root ab-experiment-list">

  <div class="page-title">
    <h3><strong>A/B Testing </strong>- My experiments</h3>
  </div>

  <div class="col-md-12 main-content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>New </strong>experiments</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead class="no-bd">
          <tr>
            <th width="70px"></th>
            <th></th>
            <th width="100px">Variations</th>
            <th width="100px">Goals</th>
          </tr>
          </thead>
          <tbody>
          <tr abExperimentRow *ngFor="#experiment of experiments.created" [experiment]="experiment"
              (delete)="delete($event)" (run)="run($event)"></tr>
          </tbody>
        </table>
        <div class="align-center" style="position:relative">
          <button class="btn btn-primary m-r-20"
                  [disabled]="!ready"
                  [ladda]="creating"
                  [uiPopover]="'ab_experiments_list.button_new'" [popoverPlacement]="'right-bottom'"
                  [popoverStyle]="'margin:10px 0 0 20px'"
                  (click)="create()">New Experiment
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 main-content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Active </strong>experiments</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <thead class="no-bd">
          <tr>
            <th width="70px"></th>
            <th></th>
            <th width="100px">Variations</th>
            <th width="100px">Goals</th>
            <th width="100px">Started</th>
          </tr>
          </thead>
          <tbody>
          <tr abExperimentRow *ngFor="#experiment of experiments.active" [experiment]="experiment"></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
