<style>
  .experiment-actions a.disabled {
    opacity: 0.25;
    color: #ccc;
    /*cursor: not-allowed;*/
  }

  .code-helper {
    position: relative;
    z-index: 99;
  }
</style>
<div id="experiment-details-sidebar">

  <h3>
    <input [edit-inline]
           [(ngModel)]="experiment.title"
           (change)="update()"
           [placeholder]="'Experiment Title'"/>
  </h3>

  <div class="buttons-container experiment-actions">
    <a (click)="run()"
       [ngClass]="{ hidden: experiment.state != 1, disabled: (!valid) }"
       [uiPopover]="'ab_experiment_details.run_experiment_button'"
       [popoverPlacement]="'right-bottom'"
       [popoverFn]="runExperimentPopover"
       (popoverInit)="onPopoverInit($event)">
      <i class="glyphicon glyphicon-play-circle"></i>
    </a>
    <a (click)="delete()"
       [ngClass]="{ hidden: experiment.state != 1 }"
       [uiPopover]="'ab_experiment_details.delete_experiment_button'"
       [popoverPlacement]="'right-bottom'">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
    <a (click)="toggle()"
       [ngClass]="{ hidden: experiment.state == 1, disabled: (disabled || (experiment.state == 3 && !valid)) }"
       [uiPopover]="'ab_experiment_details.toggle_experiment_button'"
       [popoverPlacement]="'right-bottom'"
       [popoverFn]="toggleExperimentPopover"
       (popoverInit)="onPopoverInit($event)">
      <i class="glyphicon"
         [ngClass]="{ 'glyphicon-pause': experiment.state == 2, 'glyphicon-play': experiment.state != 2 }"></i>
    </a>
    <a (click)="publish()"
       class="publish-button"
       style="margin:0 8px;top:1px"
       [ngClass]="{ hidden: (experiment.state == 1 || pristine), disabled: !valid }"
       [uiPopover]="'ab_experiment_details.publish_experiment_button'"
       [popoverPlacement]="'right-bottom'"
       [popoverFn]="publishExperimentPopover"
       (popoverInit)="onPopoverInit($event)"
       [ladda]="publishing">
      <i class="glyphicon glyphicon-upload"></i>
    </a>
    <a (click)="details()"
       [ngClass]="{ hidden: 1, _hidden: experiment.state == 1 }">
      <i class="glyphicon glyphicon-list" style="font-size:20px;top:0;margin-left:4px;"></i>
    </a>
  </div>

  <div *ngIf="experiment.expanded">

    <experiment-url-list [experiment]="experiment" (changed)="touch()"></experiment-url-list>

    <experiment-variation-list [experiment]="experiment"></experiment-variation-list>

    <experiment-goal-list [experiment]="experiment"></experiment-goal-list>

  </div>

  <div *ngIf="!experiment.expanded">Loading...</div>

  <div class="code-helper block">
    <h4 [uiPopover]="'ab_experiment_details.js_code_snippet_title'"
        [popoverPlacement]="'top'">Experiment JS code snippet</h4>

    <!--<div edit-code-inline ui-js-field src="/bundles/clientjs/js/snippet.min.js"
         params="experiment.snippetParams" rows="3"></div>-->

    <ui-js-field [code]="jsSnippetCode" [params]="jsSnippetParams" [rows]="3"></ui-js-field>

  </div>

</div>
<style scoped>
  h3 {
    position: relative;
    height: 25px;
  }

  .experiment-actions {
    position: absolute;
    top: 50px;
  }

  a:hover {
    cursor: pointer;
    text-decoration: none;
  }

  i {
    /*display: inline !important;*/
  }

  a[disabled] {
    /*cursor: not-allowed;*/
  }

  /*noinspection CssUnusedSymbol*/
  a[disabled] i.glyphicon {
    color: rgba(192, 192, 192, 0.5);
  }

  .experiment-actions a {
    text-decoration: none;
  }

  .block {
    margin-top: 25px;
  }

  h4 {
    border-bottom: 1px solid #CCC;
    cursor: default;
  }

  h4 a i {
    font-size: 15px !important;
    padding-left: 4px !important;
  }

  .entry {
    position: relative;
    margin-bottom: 12px;
    border-bottom: 1px dashed rgba(204, 204, 204, 0.75);
    padding-bottom: 10px;
  }

  .entry .entity-actions {
    position: absolute;
    height: 19px;
    top: -1px;
    right: 0;
    padding: 0 34px 0 0;
  }

  .entry .entity-actions a {
    margin: 0 4px;
  }

  .entry .entity-actions a i {
    font-size: 16px;
  }

  .value.secondary {
    padding-left: 15px;
    margin: 4px 0;
  }

  .value-group.collapsible {
    height: 0;
    opacity: 0;
    transition: all 0.25s ease;
    overflow: hidden;
  }

  .entry.open .value-group.collapsible {
    height: auto;
    opacity: 1;
    transition: all 0.25s ease;
  }

  .variation-list > h4 {
    margin-bottom: 20px;
  }

  .variation-list .entry.variation {
    padding-left: 25px;
  }

  .variation-list .entry.open .value-group.collapsible {
    height: 151px;
  }

  .goal-list .entry.open .value-group.collapsible {
    height: 27px;
  }

  .value.header {
    margin-right: 100px;
  }

  .value.primary.variation-title {
    margin-right: 200px;
  }

  .value.primary.variation-title {
    font-weight: bolder;
    padding-left: 4px;
    font-size: 16px;
  }

  .variation-weight-container {
    border: 1px #ccc dashed;
    padding: 10px 50px 10px 10px;
    margin-top: 10px;
    margin-right: 80px;
  }

  .value.special.variation-weight {
    /*margin-top: 7px;*/
  }

  .value.special.variation-weight .entity-actions {
    float: left;
    position: relative;
    padding-right: 4px;
  }

  .value.special.variation-weight .input {
    float: left;
    height: 19px;
    width: 43px;
    padding: 0 4px 0 0;
  }

  .value.special.variation-weight .slider {
    margin-left: 100px;
    margin-top: 3px;
  }

  /*noinspection CssUnusedSymbol*/
  .entity-actions a.inactive {
    opacity: 0.25;
    color: #777;
    transition: all 0.1s ease;
  }

  /*noinspection CssUnusedSymbol*/
  .entity-actions a.inactive:hover {
    opacity: 0.7;
    /*color: #2a6496;*/
    transition: all 0.1s ease;
  }

  textarea.js-field {
    position: relative !important;
    top: 0 !important;
    border: 1px solid;
    border-color: #d9d9d9 !important;
    border-top-color: #c0c0c0;
    background-color: #fff !important;
    padding-bottom: 10px !important;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #333;
    font-size: 13px;
    line-height: 18px;
    padding: 1px 8px;
  }

  .value-group.variation-snippets {
    margin-top: 10px;
  }

  .variation-list .entry.open .value-group.variation-snippets {
    /*height: 225px;*/
    height: auto;
  }

  .value-group.variation-snippets a[uib-tab-heading-transclude] {
    width: 125px;
    height: 38px;
  }

  .value-group.variation-snippets li.add-new a[uib-tab-heading-transclude] {
    width: auto !important;
  }

  .value-group.variation-snippets .variation-code textarea {
    position: relative !important;
  }

  .value-group.variation-snippets *[edit-inline] textarea:hover {
    /*border-bottom: none !important;*/
    /*cursor: pointer;*/
  }

  .value-group.variation-snippets .tab-content {
    height: 180px;
  }

  .value-group.variation-snippets .value.variation-code {
    position: relative;
  }

  .value-group.variation-snippets .value.variation-code a.entity-action {
    position: absolute;
    z-index: 1;
    left: -7px;
    margin-top: 10px;
  }

</style>
