<style>
    .mm-page {
        position: relative;
        margin-right: 20%;
        left: 10%;
        transition: margin-right 0.2s ease, left 0.2s ease;
    }

    .mm-page.mm-open {
        margin-right: 40%;
        left: 0;
        transition: margin-right 0.2s ease, left 0.2s ease;
    }

    .mm-page #main-content {
        padding-right: 20px;
    }

    .mm-page.mm-open #main-content {
        padding-right: 4px;
    }
</style>
<menu-top></menu-top>
<notification-bar (open)="bodyPush = true" (close)="bodyPush = false"></notification-bar>
<div class="mm-page" [ngClass]="{ 'mm-open': detailsSidebarOpen, 'mm-push': bodyPush, 'mm-relax': !bodyPush }">
    <div id="wrapper">
        <menu-sidebar></menu-sidebar>
        <div id="main-content" data-ui-view>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="mm-sidebar" [ngClass]="{ 'mm-push': bodyPush, 'mm-relax': !bodyPush }">
    <details-sidebar (open)="detailsSidebarOpen = true" (close)="detailsSidebarOpen = false"></details-sidebar>
</div>
