<div class="component-root dashboard">

  <div class="page-title"></div>

  <div class="col-md-12 main-content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Running A/B Testing Experiments Statistics</h3>
      </div>
      <div class="panel-body">
        <dashboard-ab-stats></dashboard-ab-stats>
      </div>
    </div>
  </div>

</div>
