<style>
  #menu-right {
    right: -40%;
  }

  #menu-right.mm-open {
    right: -10px;
  }

  #menu-right .mm-panel {
    padding-bottom: 100px;
  }

  #menu-right .mm-panel.mm-opened {
    left: 0;
    width: 100%;
    overflow-x: visible;
  }

  .closeDetailsPaneX {
    fill: #2F82F1;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
  }
  .closeDetailsPaneX:hover {
    fill: #0C5CC7;
  }
  .svgIcon {
    height: 16px;
    width: 16px;
  }
</style>
<nav id="menu-right" class="mm-menu mm-horizontal mm-ismenu mm-right mm-hassearch mm-current"
     [ngClass]="{ 'mm-open': isOpen }">
  <div class="mm-panel mm-opened mm-current">
    <div class="closeDetailsPaneX borderless-button" (click)="close()">
      <svg class="svgIcon " viewBox="0 0 32 32" title="closex">
        <polygon
                points="23.778,5.393 16,13.172 8.222,5.393 5.393,8.222 13.172,16 5.393,23.778 8.222,26.607 16,18.828 23.778,26.607 26.607,23.778 18.828,16 26.607,8.222"></polygon>
      </svg>
    </div>
    <div #detailsSidebar></div>
  </div>
</nav>
