<!--<div class="login-form">
  &lt;!&ndash; BEGIN ERROR BOX &ndash;&gt;
  <div id="error-box" class="alert alert-danger hide">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Error!</h4>
    <span class="message"></span>
  </div>
  &lt;!&ndash; END ERROR BOX &ndash;&gt;
  <form>
    <input type="hidden" name="_csrf_token" value="2S4jwm5eBHtH4hA4NOyp_MKSaw01XkJ95Tg47846dxE">
    <input type="text" placeholder="security.login.username" name="_username" required=""
           class="input-field form-control user" [(ngModel)]="username">
    <input type="password" placeholder="security.login.password" name="_password" required=""
           class="input-field form-control password" [(ngModel)]="password">
    <button id="submit-form" class="btn btn-login ladda-button" data-style="expand-left" (click)="login()"><span
            class="ladda-label">security.login.submit</span>
    </button>
  </form>
  <div class="login-links">
    <a href="#">security.resetting.invite</a>
    <br>
    <a href="/register/">
      security.registration.invite
      <strong>security.registration.submit</strong></a>
  </div>
</div>-->

<style>
  .container {
    background: transparent;
  }
</style>
<div class="container" id="login-block">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
      <div class="login-box clearfix animated flipInY">
        <div class="page-icon animated bounceInDown">
          <img src="/bundles/clientui/img/account/user-icon.png" alt="Key icon">
        </div>
        <div class="login-logo">
          <a href="#?login-theme-3">
            <img src="/bundles/clientui/img/account/login-logo.png" alt="StrongOptimier.com">
          </a>
        </div>
        <hr>
        <div class="login-form">
          <!-- BEGIN ERROR BOX -->
          <div id="error-box" class="alert alert-danger hide">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Error!</h4>
            <span class="message"></span>
          </div>
          <!-- END ERROR BOX -->
          <form>
            <!--<input type="hidden" name="_csrf_token" value="2S4jwm5eBHtH4hA4NOyp_MKSaw01XkJ95Tg47846dxE">-->
            <input type="text" placeholder="Username" name="_username" required=""
                   class="input-field form-control user" [(ngModel)]="username">
            <input type="password" placeholder="Password" name="_password" required=""
                   class="input-field form-control password" [(ngModel)]="password">
            <button id="submit-form" class="btn btn-login ladda-button" data-style="expand-left" (click)="login()"><span
                    class="ladda-label">LogIn</span>
            </button>
          </form>
          <div class="login-links">
            <!--<a href="#">security.resetting.invite</a>
            <br>
            <a href="/register/">
              security.registration.invite
              <strong>security.registration.submit</strong></a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
