<!-- BEGIN TOP MENU -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="menu.top.controller">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      <!--<a id="menu-medium" class="sidebar-toggle tooltips">
        <i class="fa fa-outdent"></i>
      </a>-->
      <!--<a class="navbar-brand" href="/"></a>-->
    </div>
    <div class="navbar-center" data-ng-bound></div>
    <div class="navbar-collapse collapse">
      <!-- BEGIN TOP NAVIGATION MENU -->
      <ul class="nav navbar-nav pull-right header-menu">
        <!-- BEGIN USER DROPDOWN -->
        <li class="dropdown" id="user-header" data-ng-bound>
          <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown"
             data-close-others="true">
            <i class="glyph-icon flaticon-account" style="padding-right:10px"></i>
            <span class="username">{{ account.email }}</span>
            <i class="fa fa-angle-down p-r-10"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="['ProfilePage']">
                <i class="glyph-icon flaticon-settings21"></i>&nbsp;My Account
              </a>
            </li>
            <li class="dropdown-footer clearfix">
              <a href="javascript:" class="hidden toggle_fullscreen" title="Fullscreen">
                <i class="glyph-icon flaticon-fullscreen3"></i>
              </a>
              <a class="hidden" title="Lock Screen">
                <i class="glyph-icon flaticon-padlock23"></i>
              </a>
              <!--suppress HtmlUnknownTarget -->
              <a (click)="logout()" title="Logout">
                <i class="fa fa-power-off"></i>
              </a>
            </li>
          </ul>
        </li>
        <!-- END USER DROPDOWN -->
      </ul>
      <!-- END TOP NAVIGATION MENU -->
    </div>
  </div>
</nav>
<!-- END TOP MENU -->
