<style>
  nav a {
    cursor: pointer;
  }
</style>
<div class="component-root">
  <!-- BEGIN MAIN SIDEBAR -->
  <nav id="sidebar">
    <div id="main-menu">
      <ul class="sidebar-nav">
        <li data-ui-sref-active="current">
          <a [routerLink]="['Dashboard']"><i class="fa fa-dashboard"></i><span class="sidebar-text">Dashboard</span></a>
        </li>
        <li class="menu collapse">
          <a><i class="fa fa-random"></i><span class="sidebar-text">Experiments</span>
            <span class="fa arrow"></span></a>
          <ul class="submenu collapse in">
            <li data-ui-sref-active="current">
              <a [routerLink]="['AbExperimentsList']"><span class="sidebar-text">A/B Experiments</span></a>
            </li>
          </ul>
        </li>
        <li class="menu collapse">
          <a><i class="fa fa-random"></i><span class="sidebar-text">Tests</span>
            <span class="fa arrow"></span></a>
          <ul class="submenu collapse in">
            <li data-ui-sref-active="current">
              <a [routerLink]="['ExperimentTest']"><span class="sidebar-text">Experiment Test</span></a>
            </li>
          </ul>
        </li>
        <li class="menu collapse">
          <a><i class="glyph-icon flaticon-account"></i><span class="sidebar-text">Profile</span>
            <span class="fa arrow"></span></a>
          <ul class="submenu collapse in">
            <li data-ui-sref-active="current">
              <a [routerLink]="['ProfilePage']"><span class="sidebar-text">My Account</span></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer-widget">
      <div class="footer-gradient"></div>
      <div class="sidebar-footer clearfix">
        <a class="pull-left"
           [routerLink]="['ProfilePage']"
           data-rel="tooltip" data-placement="top" title="Profile Settings">
          <i class="glyph-icon flaticon-settings21"></i>
        </a>
        <a class="pull-left toggle_fullscreen hidden" data-rel="tooltip" data-placement="top"
           title="Fullscreen"><i class="glyph-icon flaticon-fullscreen3"></i></a>
        <a class="pull-left hidden" data-rel="tooltip" data-placement="top"
           data-original-title="Lockscreen"><i class="glyph-icon flaticon-padlock23"></i></a>
        <!--suppress HtmlUnknownTarget -->
        <a class="pull-left"
           (click)="logout()"
           data-rel="tooltip" data-placement="top" title="Logout">
          <i class="fa fa-power-off"></i>
        </a>
      </div>
    </div>
  </nav>
  <!-- END MAIN SIDEBAR -->
</div>
