<style>

    .notification-bar {
        position: fixed;
        width: 100%;
        height: 40px;
        overflow: hidden;
        z-index: 9;
        transition: top 0.2s linear;
    }

    .notification-bar.closed {
        top: 0;
    }

    .notification-bar.open {
        top: 40px;
    }

    .message.alert {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 40px;
        border: none;
        line-height: 40px;
        text-align: center;
    }

    .message.closing {
        /*opacity: 0;*/
        /*transition: opacity 0.15s linear;*/
    }
</style>
<div class="component-root">
    <div class="notification-bar"
         [ngClass]="{open: open, closed: !open}">
        <div class="message-list">
            <div *ngFor="#message of active" class="message alert" [ngClass]="message.classes">
                <strong>{{ message.prefix }}!</strong> {{ message.content }}
            </div>
        </div>
    </div>
</div>