<style>
    input {
        color: #000;
    }
</style>
<div data-role="page" class="ui-page ui-page-theme-a page-active" style="min-height: 697px;">
    <style>
        .container {
            background: transparent;
        }
    </style>
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="login-box clearfix animated flipInY">
                    <div class="page-icon animated bounceInDown">
                        <img src="/bundles/clientui/img/account/register-icon.png" alt="Register icon">
                    </div>
                    <div class="login-logo">
                        <a>
                            <img src="/bundles/clientui/img/account/login-logo.png" alt="StrongOptimier.com">
                        </a>
                    </div>
                    <hr>
                    <div class="login-form">
                        <!-- BEGIN ERROR BOX -->
                        <div id="error-box" class="alert alert-danger" [ngClass]="{ hidden: !errors.length }">
                            <button type="button" class="close" (click)="errors = []">×</button>
                            <h4>Error!</h4>
                            <span class="message" *ngFor="#error of errors">{{ error }}</span>
                        </div>
                        <!-- END ERROR BOX -->
                        <form>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                            <input type="text" placeholder="Name (optional)" name="name"
                                   class="input-field form-control" [(ngModel)]="name">
                            <input type="text" placeholder="E-mail" name="email" required=""
                                   class="input-field form-control" [(ngModel)]="email">
                            <input type="text" placeholder="Invitation Code" name="invitation_code" required=""
                                   class="input-field form-control" [(ngModel)]="invitation_code">
                            <input type="password" placeholder="Password" name="password_first" required=""
                                   class="input-field form-control password" [(ngModel)]="password_first">
                            <input type="password" placeholder="Confirm Password" name="password_first" required=""
                                   class="input-field form-control password" [(ngModel)]="password_second">
                            <button id="submit-form" class="btn btn-login ladda-button" data-style="expand-left"
                                    (click)="register()"><span
                                    class="ladda-label">Register</span>
                            </button>
                        </form>
                        <div class="login-links">
                            <a [routerLink]="['LoginPage']">
                                Already have an account?
                                <strong>Sign In</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
