<style>
  .component-root {
    position: relative;
  }

  .buttons-container {
    position: absolute;
    left: 0;
    width: 34px;
  }

  a.button {
    float: right;
    text-decoration: none;
    cursor: pointer;
  }

  a.button i {
    font-size: 15px;
    width: 15px;
  }
</style>
<div class="component-root experiment-url-list">
  <div [ngClass]="{ hidden: urls.length }" style="height:20px">
          <span class="buttons-container">
            <a (click)="create()" class="button create"
               [uiPopover]="'ab_experiment_details.add_url_button'"
               [popoverPlacement]="'bottom-right'">
              <i class="glyphicon glyphicon-plus"></i>
            </a>
          </span>
  </div>
  <experiment-url *ngFor="#url of urls; #i = index"
                  [url]="url" [list]="urls" [last]="i == urls.length - 1"
                  (create)="create()" (delete)="delete($event)"></experiment-url>
</div>
