<style>
  .component-root {
    position: relative;
  }

  .buttons-container {
    position: absolute;
    left: 0;
    width: 34px;
  }

  a.button {
    float: right;
  }

  a.button i {
    display: block;
    font-size: 15px;
    width: 15px;
  }

  .url-value {
    padding-left: 50px;
  }

  .url-value input {
    margin-bottom: 5px;
  }
</style>
<div class="component-root experiment-url">
  <div class="buttons-container">
    <a class="button delete"
       [ngClass]="{ disabled: list.length <= 1 }"
       (click)="delete()"
       [uiPopover]="'ab_experiment_details.delete_url_button'"
       [popoverPlacement]="'right-bottom'"
       [popoverStyle]="''"
       [popoverFn]="deleteUrlButtonPopover"
       (popoverInit)="onPopoverInit($event)">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
    <a class="button create"
       [ngClass]="{ hidden: !last }"
       (click)="create()"
       [uiPopover]="'ab_experiment_details.add_url_button'"
       [popoverPlacement]="'right-bottom'" [popoverStyle]="''">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
  </div>
  <div class="url-value">
    <input [edit-inline]
           [(ngModel)]="url.pattern"
           [placeholder]="'Experiment URL'"
           (change)="update()"
           [uiPopover]="'ab_experiment_details.url_input_field'"
           [popoverPlacement]="'bottom'"
           [popoverStyle]="'min-width:350px'"/>
  </div>
</div>
