<style>
  .component-root {
    position: relative;
    margin-top: 25px;
  }

  h4 {
    margin-bottom: 20px;
  }

  h4 span.title {
    cursor: default;
  }

  h4 .buttons-container {
    display: inline;
    padding-left: 7px;
  }

  h4 a.button {
    text-decoration: none;
    cursor: pointer;
    padding: 0 1px;
  }

  h4 a.button i {
    display: inline;
    font-size: 15px;
  }
</style>
<div class="component-root experiment-variation-list" ui-collapsible-group>
  <h4><span class="title" [uiPopover]="'ab_experiment_details.variation_list_title'"
            [popoverPlacement]="'right-bottom'"
            [popoverStyle]="'font-size:14px;color:#333;font-weight:300;font-family:\'Open Sans\',verdana,arial'">Variations
  </span>
    <div class="buttons-container">
      <a (click)="create()" class="button create">
        <i class="glyphicon glyphicon-plus"
           [uiPopover]="'ab_experiment_details.create_variation_button'"
           [popoverPlacement]="'right-bottom'" [popoverStyle]="'font-size:14px;color:#333'"></i>
      </a>
      <a (click)="switchMode()" class="button switch-mode"
         [ngClass]="{ inactive: experiment.mode != 2 }"><i
              class="hidden glyphicon glyphicon-refresh" style="font-size:14px"></i></a>
      <a (click)="evenWeights()" class="button even-weights"
         [ngClass]="{ disabled: experiment.weightsFixed }"
         [uiPopover]="'ab_experiment_details.distribute_weights_button'"
         [popoverPlacement]="'right-bottom'" [popoverStyle]="'font-size:14px;color:#333'">
        <i class="glyphicon glyphicon-align-left"></i>
      </a>
    </div>
  </h4>
  <experiment-variation *ngFor="#variation of variations" [variation]="variation"
                        (init)="registerVariationComponent($event)"
                        (open)="onVariationOpen($event)"
                        (changeWeight)="onChangeWeight($event)"
                        (afterWeightChanged)="afterWeightChanged($event)"
                        (delete)="delete($event)"></experiment-variation>
</div>
