<style>
  .component-root {
    position: relative;
    margin-top: 25px;
  }

  h4 {
    margin-bottom: 20px;
  }

  h4 .buttons-container {
    display: inline;
  }

  h4 a.button {
    text-decoration: none;
    cursor: pointer;
  }

  h4 a.button i {
    display: inline;
    font-size: 15px;
  }
</style>
<div class="component-root experiment-goal-list" ui-collapsible-group>
  <h4><span class="title"
            [uiPopover]="'ab_experiment_details.goals_list_title'"
            [popoverPlacement]="'right-bottom'">Goals</span>
    <div class="buttons-container">
      <a (click)="create()" class="button create"
         [uiPopover]="'ab_experiment_details.add_goal_button'"
         [popoverPlacement]="'right-bottom'">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
  </h4>
  <experiment-goal *ngFor="#goal of goals" [goal]="goal" [list]="goals"
                   (delete)="delete($event)"></experiment-goal>
</div>
