<style>
  .component-root {
    position: relative;
    margin-bottom: 12px;
    padding-left: 25px;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgba(204, 204, 204, 0.75);
  }

  .variation-title {
    margin-right: 200px;
    font-size: 16px;
    font-weight: bolder;
  }

  .buttons-container {
    position: absolute;
    height: 19px;
    top: -1px;
    right: 63px;
    padding: 0 34px 0 0;
  }

  .buttons-container a {
    margin: 0 4px;
    cursor: pointer;
    text-decoration: none;
  }

  .buttons-container a i {
    font-size: 16px;
    display: inline;
  }

  .buttons-container a.inactive {
    opacity: 0.25;
    color: #777;
    transition: all 0.1s ease;
  }

  .weight-container {
    position: relative;
    border: 1px #ccc dashed;
    padding: 10px 50px 10px 10px;
    margin-top: 10px;
    margin-right: 100px;
  }

  .toggle-button-container {
    position: absolute;
    left: -35px;
    width: 25px;
    height: 25px;
  }

  .toggle-button-container a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 1px 4px;
  }

  .toggle-button-container a:hover {
    text-decoration: none;
  }

  .toggle-button-container a i {
    font-size: 25px;
  }

  .snippets-container {
    margin-top: 10px;
    /*overflow: hidden;*/
  }

  .snippets-container.opened {
    max-height: 500px;
    opacity: 1;
    transition: max-height 0.2s ease-out, opacity 0.15s ease-in;
  }

  .snippets-container.closed {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.2s ease-out, opacity 0.1s ease-in;
  }
</style>
<div class="component-root experiment-variation"
     (click)="open()"
     [ngClass]="{ open: focus }">

  <div class="buttons-container" [ngClass]="{ hidden: variation.number == 0 }">
    <!--<a (click)="toggle()" class="button toggle"
       [ngClass]="{ inactive: !variation.enabled }"><i
            class="hidden glyphicon glyphicon-off"></i>
    </a>-->
    <a (click)="delete()" class="button delete"
       [uiPopover]="'ab_experiment_details.delete_variation_button'"
       [popoverPlacement]="'top'">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>

  <div class="variation-title">
    <input [edit-inline]
           [(ngModel)]="variation.title"
           [placeholder]="'Variation Title'"
           (change)="update()"/>
  </div>

  <div class="weight-container">
    <div class="toggle-button-container">
      <a (click)="toggle($event)">
        <i class="fa"
           [ngClass]="{ 'fa-angle-down': !opened, 'fa-angle-up': opened }"></i>
      </a>
    </div>
    <variation-weight [variation]="variation" (changeWeight)="onChangeWeight($event)"
                      (afterWeightChanged)="afterWeightChanged($event)"></variation-weight>
  </div>

  <div class="snippets-container"
       [ngClass]="{opened: opened, closed: !opened}">
    <variation-snippets [variation]="variation" (activated)="onSnippetActivated($event)"></variation-snippets>
  </div>

</div>
