<style>
  .component-root {
    position: relative;
    padding-right: 100px;
  }

  .buttons-container {
    position: absolute;
    height: 19px;
    top: -1px;
    right: 69px;
    padding: 0 34px 0 0;
  }

  .goal-title {
    margin-right: 50px;
  }

  a.button {
    float: right;
  }

  a.button i {
    display: block;
    font-size: 15px;
    width: 15px;
  }

  .goal-destination {
    padding-left: 15px;
    margin: 4px 0;
  }
</style>
<div class="component-root experiment-goal" [ngClass]="{ open: focus }">
  <div class="buttons-container">
    <a (click)="delete()" class="button delete" [ngClass]="{ disabled: list.length == 1 }"
       [uiPopover]="'ab_experiment_details.delete_goal_button'"
       [popoverPlacement]="'top'"
       [popoverFn]="deleteGoalPopover"
       (popoverInit)="onPopoverInit($event)">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="goal-title">
    <input [edit-inline]
           [(ngModel)]="goal.title"
           [placeholder]="'Goal Title'"
           (change)="update()"/>
  </div>
  <div class="goal-destination">
    <input *ngFor="#destination of goal.destinations.items"
           [edit-inline]
           [(ngModel)]="destination.value"
           [placeholder]="'Goal destination URL'"
           (change)="update()"/>
  </div>
</div>
