<style>
  .component-root {
    position: relative;
  }

  ul.nav-tabs li.tab-title {
    width: 140px;
    text-align: center;
  }

  ul.nav-tabs li.tab-title input {
    text-align: center !important;
  }

  .buttons-container {
    position: absolute;
    left: 7px;
  }

  .button.create {
    color: #0090d9;
  }

  .button.create i {
    font-size: 16px;
    display: block;
    width: 16px;
  }

  .button.create:hover {
    color: #2a6496;
  }

  .value-container {
    position: relative;
    left: 15px;
    margin-top: 14px;
  }
</style>
<div class="component-root variation-snippets">
  <div class="snippets-tabs">
    <ul class="nav nav-tabs">
      <li *ngFor="#snippet of experiment.snippets.items; #i = index"
          class="tab-title"
          [ngClass]="{ active: isActive(i) }">
        <a (click)="onTabClick(i)"
           [uiPopover]="'ab_experiment_details.snippet_tab_header'"
           [popoverFn]="snippetTabPopover"
           [popoverPlacement]="'right-bottom'"
           (popoverInit)="onPopoverInit($event)">
          <input *ngIf="isActive(i)"
                 [edit-inline]
                 [(ngModel)]="snippet.title"
                 (enter)="blur($event)"
                 (change)="update()"/>
          <span *ngIf="!isActive(i)">{{ snippet.title || '&nbsp;' }}</span>
        </a>
      </li>
      <li>
        <a (click)="create()" class="button create"
           [uiPopover]="'ab_experiment_details.add_snippet_button'"
           [popoverPlacement]="'auto'">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div *ngFor="#snippetValue of snippetValues; #i = index"
           [ngClass]="{ active: isActive(i) }" class="tab-pane">
        <div class="buttons-container">
          <a (click)="delete(i)" class="button delete"
             [ngClass]="{ disabled: variation.snippetValues.length == 1 }"
             [uiPopover]="'ab_experiment_details.delete_snippet_button'"
             [popoverPlacement]="'right-bottom'"
             [popoverFn]="deleteSnippetPopover"
             (popoverInit)="onPopoverInit($event)">
            <i class="glyphicon glyphicon-trash" style="font-size:14px"></i>
          </a>
        </div>
        <div class="value-container">
          <textarea [edit-inline]
                    [(ngModel)]="snippetValue.value"
                    [rows]="'7'"
                    [placeholder]="'Snippet content'"
                    [content-type]="'code'"
                    (change)="update()"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
