<style>
  .component-root {
    height: 19px;
  }

  .buttons-container {
    position: relative;
    float: left;
    top: -1px;
    right: 0;
    height: 19px;
    width: 36px;
    padding: 0 4px 0 0;
  }

  .buttons-container a {
    margin: 0 4px;
    cursor: pointer;
    text-decoration: none;
  }

  .buttons-container a i {
    font-size: 14px;
    display: inline;
  }

  .buttons-container a.inactive {
    opacity: 0.25;
    color: #777;
    transition: all 0.1s ease;
  }

  .buttons-container a.inactive:hover {
    opacity: 0.7;
    color: #2a6496;
    transition: all 0.1s ease;
  }

  .buttons-container a.disabled {
    cursor: not-allowed;
  }

  .buttons-container a.disabled i {
    color: rgba(192, 192, 192, 0.5);
  }

  .input-container {
    float: left;
    height: 19px;
    width: 43px;
    padding: 0 4px 0 0;
  }

  .slider-container {
    margin-top: 3px;
    margin-left: 100px;
  }
</style>
<div class="component-root variation-weight">
  <div class="buttons-container">
    <a (click)="toggleLock($event)" ui-no-expand class="button toggle-lock"
       [ngClass]="{ inactive: !variation.weightLocked, disabled: variation.weightDisabled }"
       [uiPopover]="'ab_experiment_details.weight_lock_button'"
       [popoverPlacement]="'right-bottom'">
      <i class="glyphicon glyphicon-lock"></i>
    </a>
  </div>
  <div class="input-container"
       [uiPopover]="'ab_experiment_details.variation_weight_number'"
       [popoverPlacement]="'right-bottom'" [popoverStyle]="'margin:15px 0 0 20px'">
    <div class="value">{{ variation.weight | number:'1.0-0' }}</div>
  </div>
  <div class="slider-container">
    <ui-slider [config]="config" [model]="variation.weight" (slide)="onSlide($event)" (stop)="onSlideStop($event)"></ui-slider>
  </div>
</div>
