{% extends 'ClientUIBundle::base.html.twig' %}

{% block pagestyle %}
    <link href="{{ asset('bundles/clientui/css/animate-custom.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <body class="login fade-in" data-page="login">
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="login-box clearfix animated flipInY">
                    <div class="page-icon animated bounceInDown">
                        <img src="{{ asset('bundles/clientui/img/account/user-icon.png') }}" alt="Key icon">
                    </div>
                    <div class="login-logo">
                        <a href="#?login-theme-3">
                            <img src="{{ asset('bundles/clientui/img/account/login-logo.png') }}" alt="Company Logo">
                        </a>
                    </div>
                    <hr>
                    <div class="login-form">
                        <!-- BEGIN ERROR BOX -->
                        <div id="error-box" class="alert alert-danger hide">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h4>Error!</h4>
                            <span class="message"></span>
                        </div>
                        <!-- END ERROR BOX -->
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                            <input type="text" placeholder="{{ 'security.login.username'|trans }}"
                                   name="_username" required class="input-field form-control user"/>
                            <input type="password" placeholder="{{ 'security.login.password'|trans }}"
                                   name="_password" required class="input-field form-control password"/>
                            <button id="submit-form" class="btn btn-login ladda-button" data-style="expand-left"><span
                                        class="ladda-label">{{ 'security.login.submit'|trans }}</span></button>
                        </form>
                        <div class="login-links">
                            <a href="#">{{ 'security.resetting.invite'|trans }}</a>
                            <br>
                            <a href="{{ path('fos_user_registration_register') }}">
                                {{ 'security.registration.invite'|trans }}
                                <strong>{{ 'security.registration.submit'|trans }}</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END LOCKSCREEN BOX -->
    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="{{ asset('bundles/clientui/plugins/jquery-1.11.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/jquery-migrate-1.2.1.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/jquery-ui/jquery-ui-1.10.4.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/jquery-mobile/jquery.mobile-1.4.2.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/jquery.cookie.min.js') }}" type="text/javascript"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('bundles/clientui/plugins/backstretch/backstretch.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/bootstrap-loading/lada.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/account.js') }}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->

    <!--suppress JSUnresolvedVariable -->
    <script>
        $(function () {
            $('#submit-form').click(function (e) {
                e.preventDefault();
                // Start request indicator
                var l = Ladda.create(this);
                l.start();
                // Set timeout for login request
                var $timeout = setTimeout(function () {
                    //window.location.href = "index.html";
                    console.log('response timeout');
                    l.stop();
                }, 10000);
                // Send login request
                $.ajax({
                    url: '{{ path('fos_user_security_check') }}',
                    method: 'post',
                    data: $('#login-block').find('form').serialize(),
                    success: function () {
                        clearTimeout($timeout);
                        l.stop();
                        window.location = '{{ path('client_ui_index') }}';
                    },
                    failure: function () {
                        clearTimeout($timeout);
                        l.stop();
                        // Handle the error
                    },
                    complete: function (result) {
                        clearTimeout($timeout);
                        l.stop();
                        var errorbox = $('#error-box');
                        if (result.status == 401) {
                            errorbox.find('.message').html(result.responseJSON['error']);
                            errorbox.removeClass('hide');
                        }
                    }
                });
            });
        });
    </script>
    </body>
{% endblock %}