.mm-page #sidebar {
    transition: top 0.2s linear;
}

.mm-page.mm-relax #sidebar {
    top: 40px;
}

.mm-page.mm-push #sidebar {
    top: 80px;
}

.mm-page #main-content {
    position: relative;
    transition: padding-right 0.2s ease, top 0.2s linear;
}

.mm-page.mm-relax #main-content {
    top: 0;
}

.mm-page.mm-push #main-content {
    top: 40px;
}

.mm-sidebar #menu-right {
    transition: right 0.2s ease-out, top 0.2s linear;
}

.mm-sidebar.mm-relax #menu-right {
    top: 40px;
}

.mm-sidebar.mm-push #menu-right {
    top: 80px;
}


table {
    font-size: 14px;
    font-family: 'Open Sans', verdana, arial, serif;
    font-weight: 300;
}

.buttons-container a {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}

.buttons-container a i {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    font-size: 28px;
}

.buttons-container a.inactive {
    opacity: 0.25;
    color: #777;
    transition: all 0.1s ease;
}

.buttons-container a.disabled,
.buttons-container a[disabled] {
    opacity: 0.25;
    color: gray;
    cursor: not-allowed;
    /*pointer-events: none;*/
}

.buttons-container a.disabled i,
.buttons-container a[disabled] i {
    opacity: 0.25;
    color: gray;
    cursor: not-allowed;
}

.btn.disabled, .btn[disabled] {
    border-color: #bdc3c7;
}

.popover {
    min-width: 250px;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal !important;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    color: #534e4e;
    text-transform: none;
}

.popover-content {
    padding: 9px 14px;
    text-align: left;
    white-space: normal;
    font-family: 'Open Sans', verdana, arial;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    text-transform: none;
}

.popover.right {
    margin-left: 35px;
}

.popover.bottom {
    margin-top: 25px;
}

.popover.top {
    margin-top: -20px;
}

.popover.right-bottom {
    top: -12px !important;
    margin-left: 20px;
}

.popover.right-bottom .arrow {
    top: 20px;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0;
}

.popover.right-bottom .arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #f7f7f7;
    border-left-width: 0;
}
