{% extends 'ClientUIBundle::base.html.twig' %}

{% block pagestyle %}
    <link rel="stylesheet" href="{{ asset('bundles/clientui/css/colors/color-dark.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/clientui/plugins/modal/css/component.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/clientui/css/jquery-ui.min.css') }}"/>
    {#<link rel="stylesheet" href="{{ asset('bundles/clientui/css/angular-awesome-slider.min.css') }}"/>#}
{% endblock %}

{% block body %}

    <body data-ng-app="optimizer">

    <style scoped="scoped">
        *[data-ng-bound] {
            opacity: 0;
        }
        *[data-ng-bound="ready"] {
            opacity: 1;
        }
    </style>

    <!-- BEGIN TOP MENU -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="menu.top.controller">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="menu-medium" class="sidebar-toggle tooltips">
                    <i class="fa fa-outdent"></i>
                </a>
                <a class="navbar-brand" href="{{ path('client_ui_index') }}"></a>
            </div>
            <div class="navbar-center" data-ng-bound>{% verbatim %}{{ page.title }}{% endverbatim %}</div>
            <div class="navbar-collapse collapse">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <ul class="nav navbar-nav pull-right header-menu">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    {#<li class="dropdown" id="notifications-header">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="glyph-icon flaticon-notifications"></i>
                            <span class="badge badge-danger badge-header">6</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header clearfix">
                                <p class="pull-left">Notifications</p>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list withScroll" data-height="220">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star p-r-10 f-18 c-orange"></i>
                                            Steve have rated your photo
                                            <span class="dropdown-time">Just now</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-footer clearfix">
                                <a href="#" class="pull-left">See all notifications</a>
                                <a href="#" class="pull-right">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>
                        </ul>
                    </li>#}
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN USER DROPDOWN -->
                    <li class="dropdown" id="user-header" data-ng-bound>
                        <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="glyph-icon flaticon-account" style="padding-right:10px"></i>
                            <span class="username">{% verbatim %}{{ account.username }}{% endverbatim %}</span>
                            <i class="fa fa-angle-down p-r-10"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a data-ui-sref="profile.edit.view">
                                    <i class="glyph-icon flaticon-settings21"></i>&nbsp;
                                    {% trans from 'menu' %}top.profile.settings.title{% endtrans %}
                                </a>
                            </li>
                            <li class="dropdown-footer clearfix">
                                <a href="javascript:" class="toggle_fullscreen" title="Fullscreen">
                                    <i class="glyph-icon flaticon-fullscreen3"></i>
                                </a>
                                <a title="Lock Screen">
                                    <i class="glyph-icon flaticon-padlock23"></i>
                                </a>
                                <!--suppress HtmlUnknownTarget -->
                                <a href="/logout" title="Logout">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER DROPDOWN -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
    </nav>
    <!-- END TOP MENU -->

    <!-- BEGIN WRAPPER -->
    <div id="wrapper">

        <!-- BEGIN MAIN SIDEBAR -->
        <nav id="sidebar">
            <div id="main-menu">
                <ul class="sidebar-nav">
                    <li data-ui-sref-active="current">
                        <a data-ui-sref="dashboard"><i class="fa fa-dashboard"></i><span class="sidebar-text">
                                {% trans from 'menu' %}main.dashboard.title{% endtrans %}</span></a>
                    </li>
                    <li class="menu collapse">
                        <a><i class="fa fa-random"></i><span class="sidebar-text">
                                {% trans from 'menu' %}main.experiments.title{% endtrans %}</span>
                            <span class="fa arrow"></span></a>
                        <ul class="submenu collapse">
                            <li data-ui-sref-active="current">
                                <a data-ui-sref="experiments.ab"><span class="sidebar-text">
                                        {% trans from 'menu' %}main.experiments.ab.title{% endtrans %}
                                    </span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu collapse">
                        <a><i class="glyph-icon flaticon-account"></i><span class="sidebar-text">
                                {% trans from 'menu' %}main.profile.title{% endtrans %}</span>
                            <span class="fa arrow"></span></a>
                        <ul class="submenu collapse">
                            <li data-ui-sref-active="current">
                                <a data-ui-sref="profile.edit.view"><span class="sidebar-text">
                                        {% trans from 'menu' %}main.profile.edit.title{% endtrans %}
                                    </span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer-widget">
                <div class="footer-gradient"></div>
                <div class="sidebar-footer clearfix">
                    <a class="pull-left" data-rel="tooltip" data-placement="top"
                       data-original-title="Settings"><i class="glyph-icon flaticon-settings21"></i></a>
                    <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top"
                       data-original-title="Fullscreen"><i class="glyph-icon flaticon-fullscreen3"></i></a>
                    <a class="pull-left" data-rel="tooltip" data-placement="top"
                       data-original-title="Lockscreen"><i class="glyph-icon flaticon-padlock23"></i></a>
                    <!--suppress HtmlUnknownTarget -->
                    <a class="pull-left" href="/logout" data-rel="tooltip" data-placement="top"
                       data-original-title="Logout"><i class="fa fa-power-off"></i></a>
                </div>
            </div>
        </nav>
        <!-- END MAIN SIDEBAR -->

        <!-- BEGIN MAIN CONTENT -->
        <div id="main-content" data-ui-view></div>
        <!-- END MAIN CONTENT -->

    </div>
    <!-- END WRAPPER -->

    <!-- BEGIN CHAT MENU -->
    <nav id="menu-right">
        <div data-layout-container="sidebar.details"></div>
    </nav>
    <!-- END CHAT MENU -->

    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="{{ asset('bundles/clientui/js/shared/sprintf.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/jquery/jquery-2.1.4.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/jquery/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/angular/angular.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/angular/angular-ui-router.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/angular/ui-bootstrap-tpls.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/angular/slider.js') }}"></script>
    {#<script src="{{ asset('bundles/clientui/js/angular/angular-awesome-slider.js') }}"></script>#}
    <script src="{{ asset('bundles/clientui/js/breeze/breeze.debug.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/breeze/breeze.bridge.angular.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/mandatoryJs.min.js') }}"></script>
    <!-- END MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{ asset('bundles/clientui/plugins/metrojs/metrojs.min.js') }}"></script>
    <script src='{{ asset('bundles/clientui/plugins/fullcalendar/moment.min.js') }}'></script>
    <script src='{{ asset('bundles/clientui/plugins/fullcalendar/fullcalendar.min.js') }}'></script>
    <script src="{{ asset('bundles/clientui/plugins/simple-weather/jquery.simpleWeather.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/google-maps/markerclusterer.js') }}"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="{{ asset('bundles/clientui/plugins/google-maps/gmaps.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/charts-flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/charts-flot/jquery.flot.animator.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/charts-flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/charts-flot/jquery.flot.time.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/charts-morris/raphael.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/charts-morris/morris.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/calendar.js') }}"></script>
    {#<script src="{{ asset('bundles/clientui/js/dashboard.js') }}"></script>#}
    <!-- END  PAGE LEVEL SCRIPTS -->
    <!-- BEGIN SHARED PLUGINS -->
    <!-- BEGIN SHARED PLUGINS -->
    <!-- BEGIN APP MODULES -->
    <script src="{{ asset('bundles/clientui/js/app/app.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/breeze/q.min.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/application.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/app/ngapp.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/app/datacontext.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/app/service/data.factory.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/app/service/user.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/app/service/nav.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/app/service/experiment.helper.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/app/modules/menu.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/app/modules/dashboard.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/app/modules/profile.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/app/modules/experiments.js') }}"></script>
    <script src="{{ asset('bundles/clientui/js/app/modules/experiments.details.js') }}"></script>
    <!-- END APP MODULES -->
    <!-- BEGIN APP CONFIG -->
    <script>
        optimizer.config.parameters.user_id = '{{ user.id }}';
        optimizer.config.parameters.csrf_token = '{{ csrf_token('change_password') }}'
    </script>
    <!-- END APP CONFIG -->
    <!-- BEGIN MISC PART -->
    <style scoped="scoped">
        li.menu.collapse > a {
            cursor: pointer;
        }
    </style>
    <!--suppress CssUnusedSymbol -->
    <style scoped="scoped">
        #main-content {
            padding-right: 4px;
        }
        #menu-right {
            z-index: 1;
            box-shadow: 0 1px 3px rgba(0,0,0,0.3);
        }
        .mm-menu .mm-panel {
            padding-bottom: 80px;
        }
        .mm-menu .mm-search {
            display: none;
        }
    </style>
    <!-- BEGIN MISC PART -->

    </body>

{% endblock %}
