{% extends "ClientTestBundle::base.html.twig" %}

{% block title %}URL Patterns - Test Page{% endblock %}

{% block body %}

    <h2>Goal Page</h2>

    <p><a href="{{ url('test_url_patterns_index') }}">&larr;Back to index</a></p>

    <div id="experiment_base">
        <p>Goal - "{{ goal }}"</p>
    </div>

{% endblock %}
