{% extends "ClientTestBundle::base.html.twig" %}

{% block title %}URL Patterns - Test Page{% endblock %}

{% block body %}

    <h2>Index Page</h2>

    <div id="experiment_base">
        <p><a href="{{ url('test_url_patterns_pageOne') }}">Page One</a></p>
        <p><a href="{{ url('test_url_patterns_pageTwo') }}">Page Two</a></p>
        <p><a href="{{ url('test_url_patterns_goalOne') }}">Goal One</a></p>
        <p><a href="{{ url('test_url_patterns_goalTwo') }}">Goal Two</a></p>
    </div>

{% endblock %}
