{% extends "ClientTestBundle::base.html.twig" %}

{% block title %}URL Patterns - Test Page{% endblock %}

{% block body %}

    <h2>Experiment Page</h2>

    <p><a href="{{ url('test_url_patterns_index') }}">&larr;Back to index</a></p>

    <div id="experiment_base">
        <p>Page - "{{ page }}"</p>
        <p>Variation - "control"</p>
    </div>

{% endblock %}
