{% extends "ClientTestBundle::base.html.twig" %}

{% block title %}Plain Text Replace - Test Page{% endblock %}

{% block body %}

    <div id="experiment_base">
        <p>A neuron (also known as a neurone or nerve cell) is an excitable cell in the nervous system that processes
            and transmits information by electrochemical signaling. Neurons are the core components of the brain, the
            vertebrate spinal cord, the invertebrate ventral nerve cord, and the peripheral nerves. A number of
            specialized types of neurons exist: sensory neurons respond to touch, sound, light and numerous other
            stimuli affecting cells of the sensory organs that then send signals to the spinal cord and brain. Motor
            neurons receive signals from the brain and spinal cord and cause muscle contractions and affect glands.
            Interneurons connect neurons to other neurons within the brain and spinal cord. Neurons respond to stimuli,
            and communicate the presence of stimuli to the central nervous system, which processes that information and
            sends responses to other parts of the body for action. Neurons do not go through mitosis, and usually cannot
            be replaced after being destroyed,[dubious – discuss] although astrocytes have been observed to turn into
            neurons as they are sometimes pluripotent.</p>
    </div>

{% endblock %}
