<style>
</style>
<div class="row profile">
  <div class="col-md-12">

    <div class="user-form-container">
      <profile-account-user></profile-account-user>
    </div>


    <div class="password-form-container">
      <profile-account-password></profile-account-password>
    </div>

  </div>
</div>
