<style>
  input.error {
    border-color: #FF8080;
  }
</style>
<div class="component-root">
  <form class="form-horizontal" role="form" #form="ngForm" *ngIf="active">
    <div class="row profile-classic">
      <div class="col-md-12 m-t-20">
        <div class="panel">
          <div class="panel-title line">
            <div class="caption"><i class="fa fa-user c-gray m-r-10"></i> ACCOUNT</div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="control-label c-gray col-md-3">Name:</div>
              <div class="col-md-6">
                <input type="text" class="form-control"
                       [ngClass]="{error: !name.valid}"
                       [(ngModel)]="account.name"
                       ngControl="name" #name="ngForm">
                <div [hidden]="1 || name.valid || name.pristine" class="alert alert-danger">
                  Name is invalid
                </div>
              </div>
            </div>
            <div class="row">
              <div class="control-label c-gray col-md-3">Email:</div>
              <div class="col-md-6">
                <input type="email" class="form-control" required
                       [ngClass]="{error: !email.valid}"
                       [(ngModel)]="account.email"
                       ngControl="email" #email="ngForm">
                <div [hidden]="1 || email.valid || email.pristine" class="alert alert-danger">
                  Email is invalid
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="align-center">
        <button class="btn btn-primary m-r-20"
                [disabled]="form.pristine || !form.valid"
                (click)="update()">Update
        </button>
        <button type="reset" class="btn btn-default"
                [disabled]="form.pristine"
                (click)="reset()">Reset
        </button>
      </div>
    </div>
  </form>
</div>
