<style>
  input.error {
    border-color: #FF8080;
  }
</style>
<div class="component-root">
  <form #form="ngForm" *ngIf="active">

    <input type="hidden" name="fos_user_change_password_form[_token]">

    <div class="row profile-classic">
      <div class="col-md-12 m-t-20">
        <div class="panel">
          <div class="panel-title line">
            <div class="caption"><i class="fa fa-key c-gray m-r-10"></i> CHANGE PASSWORD</div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="control-label c-gray col-md-3">Current password:</div>
              <div class="col-md-6">
                <input type="password" class="form-control" required
                       [ngClass]="{error: formErrors.current}"
                       name="fos_user_change_password_form[current_password]"
                       [(ngModel)]="password.current"
                       ngControl="current" #current="ngForm" (keyup)="refresh()">
              </div>
            </div>
            <div class="row">
              <div class="control-label c-gray col-md-3">New password:</div>
              <div class="col-md-6">
                <input type="password" class="form-control" required
                       [ngClass]="{error: formErrors.new}"
                       name="fos_user_change_password_form[plainPassword][first]"
                       [(ngModel)]="password.new" (keyup)="refresh()">
              </div>
            </div>
            <div class="row">
              <div class="control-label c-gray col-md-3">Confirm new password:</div>
              <div class="col-md-6">
                <input type="password" class="form-control" required
                       [ngClass]="{error: formErrors.confirm}"
                       name="fos_user_change_password_form[plainPassword][second]"
                       [(ngModel)]="password.confirm" (keyup)="refresh()">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="align-center">
        <button type="submit" class="btn btn-primary m-r-20"
                [disabled]="form.pristine || !form.valid || !valid"
                [ladda]="updating"
                (click)="update()">Update
        </button>
        <button type="reset" class="btn btn-default"
                [disabled]="form.pristine"
                (click)="reset()">Cancel
        </button>
      </div>
    </div>
  </form>
</div>
