@CHARSET "UTF-8";
html {
	min-width: 1282px;
}
body {
	margin: 0;
	padding: 0;	
	font-family: 'Open Sans', sans-serif;
	min-width: 1282px;
}
header.company {
	padding: 10px 16px;
	font-size: 36px;
	color: #ffffff;
	background-color: #648f8f;
	line-height: 36px;
}

.container {
	overflow: hidden;
	background-color: #426363;
}

.toc, .sidebar, .content {
	float: left;
}

.content {
	width: 55%;
	position: relative;
}
.sidebar {
	width: 45%;
}

.toc {
	width: 208px;
	padding-bottom: 36px;
	background-color: #426363;
}
.toc .toc-top {
	margin-top: 90px;
}
.toc div {
	padding: 0 21px;
	font-size: 14px;
}
.toc .item {
	line-height: 30px;
}
.toc div a {
	color: #ffffff;
	text-decoration: none;
}
.toc .current {
	background-color: #ffffff;
	color: #426363;
}
footer.powered-by {
	margin-top: 15px;
	font-size: 12px;
	color: #ffffff;
	margin-bottom: 10px;
	text-align: center;
	position: absolute;
	left: -208px;
	bottom: 10px;
	width: 208px;
}
footer.powered-by a {
	color: #ffffff;
	font-style: normal;
	text-decoration: none;
}

.main {
	background-color: #2e3641;
	font-size: 14px;
	color: #848484;
	margin-left: 208px;
	position: relative;
}
.main .background {
	background-color: white;
	width: 55%;
	position: absolute;
	height: 100%;
}
.content {
	background-color: #ffffff;
}
.content .basic-info {
	margin-left: 45px;
	margin-right: 12px;
}
.content header {
	margin: 20px 0;
	padding-left: 45px;
	font-weight: bold;
	background-color: #f1f1f1;
	line-height: 47px;
	font-size: 18px;
	color: #848484;
}
.content header.section {
	margin: 0;
	font-size: 14px;
	line-height: 20px;
}
.content .title {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
}
.content .parameters {
	line-height: 30px;
	border-spacing: 0;
}
.content .parameters td {
	border-top: 1px solid #848484;
}
.content .parameters tr:FIRST-CHILD td {
	border-top: none;
}
.content .parameters td:FIRST-CHILD {
	width: 200px;
}
.content .parameters td {
	vertical-align: top;
}
.content .parameters .name {
	font-weight: bold;
}
.content .parameters .example-title {
	font-weight: bold;
}
.content .parameters .example-value {
	font-style: italic;
}
.content .parameters .description {
	line-height: normal;
}
.content > .description {
	margin: 15px 0 15px 45px;
}
.content .empty-section {
	font-size: 16px;
	font-style: italic;
	color: #c3c3c3;
	margin: 30px 0;
	text-align: center;
}
.content .image {
	overflow-x: auto;
	margin: 0 12px;
}
.content .image img {
	display: block;
	margin: 10px auto;
}
.content .classname {
	margin: 10px 12px;
}
.content .attributes {
	margin: 0 12px;
}
.content .attributes table {
	width: 100%;
	table-layout: fixed;
	word-wrap: break-word;
	border: 2px solid #848484;
	border-spacing: 0;
	color: #848484;
	font-size: 14px;
}
.content .attributes table th {
	text-align: left;
	background-color: #f1f1f1;
}
.content .attributes table tr {
	height: 47px;
}
.content .attributes table tr td {
	border-top: 2px solid #848484;
}
.content .attributes table tr th:FIRST-CHILD, .content .attributes table tr td:FIRST-CHILD {
	padding-left: 36px;
}
.content .attributes table tr td:LAST-CHILD {
	padding-right: 36px;
}
.content .attributes table tr th:FIRST-CHILD {
	width: 146px;
}
.content .attributes table tr th:nth-child(2) {
	width: 170px;
}
.content .attributes table tr:FIRST-CHILD td {
	border-top: none;
}
.content footer.download {
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
}
.content footer.download a {
	font-weight: bold;
	font-style: italic;
	color: #2fc2ff;
}

.sidebar {
	color: #a6a6a6;
}
.sidebar .code-block {
	position: relative;
}
.sidebar header {
	margin-top: 30px;
	padding-left: 21px;
	font-weight: bold;
	font-size: 14px;
	color: #a6a6a6;
}
.sidebar code {
	display: block;
	padding: 15px;
	margin: 15px;
	color: #ffffff;
	background-color: #232932;
	line-height: 30px;
	white-space: nowrap;
	overflow: auto;
}
.sidebar code.json, .sidebar code.header {
	white-space: pre;
	line-height: normal;
}
.sidebar code.json .key {
	color: #dfc267;
}
.sidebar code.json .value {
	color: #64c0b9;
}
.sidebar .copy {
	position: absolute;
	top: 0px;
	right: 15px;
	width: 22px;
	height: 22px;
	background: url('copytoclipboard.png') no-repeat;
}
